@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #1bba47;
  border-radius: .1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html{
  font-size: 62.5%;
}

body {
  font-family: Poppins;
  min-height: 100vh;
  display: flex;
}

header {
  z-index: 2;
  position: fixed;
  background-color: #fff;
  padding: .5rem;
  width: 100%;
  height: 7.7rem;
  box-shadow: 0 0 3rem 0px #118d3b26;
}
.esquerda {
  color: black;
  margin: 0;
  width: 18.3rem;
  height: 6rem;
  background-color: #ebf8ef;
  padding: .5rem 2.5rem 5rem 1.5rem;
  gap: 1.3rem;
  border-radius: .8rem;
  opacity: 0px;
}
.esquerda span {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: left;
}
.esquerda span:last-child {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
#user {
  display: flex;
  gap: .8rem;
}
#userAvatar {
  position: absolute;
  left: 1.7rem;
  top: 1.7rem;
  align-self: center;
}
#img {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: #f0f0f0;
}
#infoUser {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 8.6rem;
  align-self: center;
  top: 1.5rem;
}
#seta {
  position: absolute;
  top: 3.5rem;
  left: 15.2rem;
}
#notificacao {
  position: absolute;
  top: 2.5rem;
  width: 1.9rem;
  height: 2.1rem;
  left: 20rem;
  gap: 1rem;
  opacity: 0px;
  display: flex;
}
#logo {
  position: absolute;
  top: 2.5rem;
  float: right;
  right: 2rem;
}

#logo img {
  width: 12rem;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5.7rem;
  height: 100vh;
  background-color: #39a048;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.95rem;
  transition: width 0.5s;
  min-width: 8.2rem;
  overflow: hidden;
  z-index: 1;
}

#sidebar:hover {
  width: 25.7rem;
}

#sidebar-content {
  padding-top: 7rem;
}

#side_items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;
}

.side-item {
  padding: 0;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.37rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.side-item:hover {
  background-color: #1bba47;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 0 1rem;
  border-radius: 2rem;
  width: 100%;
}

.side-item img {
  margin-right: 1rem;
}

.item-description {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, color 0.3s;
}

#sidebar:hover .item-description {
  opacity: 1;
  visibility: visible;
}
.sidebar:hover ~ .background .informacoes,
.sidebar.open ~ .background .informacoes {
  transform: translateX(20rem);
}

#logout {
  border-top: .1rem solid #39a048;
}

#logout-btn {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.95rem;
  border: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 0;
  transition: background-color 0.3s, transform 0.3s;
  width: 2.37rem;
  height: 4rem;
}

#logout-btn img {
  margin-left: .5rem;
}

#logout-btn:hover {
  background-color: #e9001c;
}
#sidebar:hover + main {
  padding-left: 25.7rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: padding-left 0.5s;
  padding: 8%;
  max-width: 100%;
}

.container {
  width: 112rem;
}

.outros {
  display: flex;
  justify-content: space-between;
}

.perfil_professor {
  background-image: url(/assets/main/faa45cd0cb53a0200acb5c4ab6f565b6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 19rem;
  padding: 3rem 2rem 0 2.5rem;
  position: relative;
}

.informacoes {
  background-color: #fff;
  display: flex;
  width: 40%;
  height: 100%;
  flex-wrap: wrap;
  top: 3.2rem;
  left: 3.2rem;
  padding: 2rem 8rem 2rem 2rem;
  gap: 2rem;
  border-radius: .8rem .8rem 0 0;
  opacity: .1rem;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.foto_perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #eaeaea;
  border-radius: .9rem;
  border: .15rem solid #9f9f9f;
}

.foto_perfil img {
  width: 3.2rem;
  height: 3.2rem;
}

.editar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editar_background {
  border-radius: 50%;
  background: #00000033;
  width: 3rem;
  height: 3rem;
  opacity: 0px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editar_background img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2000%)
    hue-rotate(90deg) brightness(100%);
}

.textos {
  display: flex;
  opacity: .1rem;
  justify-content: space-between;
  flex-direction: column;
}

.nome {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.email,
.cargo {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  flex: 1;
}
.email {
  color: #9ab69a;
}

.titulo p{
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem;
}

.ensino {
  width: 1.9rem;
  height: 1.8rem;
}

.calendario {
  margin-top: 5rem;
  width: 100%;
  max-width: 48.3rem;
  height: auto;
  padding: 2rem;
  gap: 2.5rem;
  border-radius: .8rem;
  border: .15rem solid #9ab69e;
  box-sizing: border-box;
}

.titulo {
  display: flex;  
  height: 2rem;
  margin-left: 2rem;
}

.conteudo {
  margin-top: 2rem;
  border-radius: .8rem;
  border: .15rem solid #9ab69e;
  overflow: hidden;
}

.navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4caf50;
  color: #fff;
}

.nav-btn {
  color: white;
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.content {
  padding: 0 2rem 2rem 2rem;
}

table {
  width: 100%;
  table-layout: fixed;
}

.periodos {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8rem;
  letter-spacing: 0.075em;
  text-align: center;
}

.periodos th {
  width: 7.2rem;
  border-bottom: .2rem solid #ccc;
  padding: 1rem 5rem;
  padding: 1rem;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

th,
td {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0.075em;
  text-align: center;
}

.disciplinas {
  margin-top: 5rem;
  width: 100%;
  max-width: 62rem;
  height: 33.8rem;
  padding: 2rem 2rem 4rem 2rem;
  gap: 2.5rem;
  border-radius: .8rem;
  border: .15rem solid #9ab69e;
  box-sizing: border-box;
  display: inline;
  transform: translateX(0);
}

.banner{
  align-items: center;
  display: flex;
  overflow: hidden;
}

.banner-slider{
  display: flex;
  position: relative;
  overflow: hidden;
}

.arrow-left,
.arrow-right{
  position: absolute;  
  width: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: all 200ms ease-in-out;
  top: 16rem;
}

.banners .arrow-left{
  left: 1.6rem;
  position: absolute;
  z-index: 2;
}

.banners .arrow-right{
  right: 1.6rem;
  position: absolute;
  z-index: 2;
}

.arrow-left img, .arrow-right img{
  width: 1.5rem;
}

.arrow-left:hover, .arrow-right:hover{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2000%)
  hue-rotate(90deg) brightness(70%);
}

.card-item{
  border: .1rem solid #9f9f9f;
  border-radius: .8rem;
  width: 43rem;
  height: 24.3rem;
  margin: 1rem 1rem 0 3rem;
  opacity: 0.5;
  transition: all 400ms ease-in-out;
}

.card-item.active{
  opacity: 1;
}

.card-link{  
  display: block;
  position: relative;
} 

.item{  
  border-radius: .8rem .8rem 0 0;
  width: 43rem;
  height: 7.5rem;
  flex-shrink: 0;
  object-fit: cover;
}

.info{
  padding: 1rem 2rem;
  text-align: left;
}

.card-title{
  font-size: 1.4rem;
}

.turmas{
  color: #AFAFAF;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.materias{
  display: flex;
  padding-top: 1rem;
}

.badge{
  border: .15rem solid #9f9f9f;
  border-radius: .8rem;
  margin-right: 1rem;
  padding: 1rem;
}